.search-results {
  display: flex;
  margin: auto;
  max-width: 1120px;
  gap: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: 'Inter', sans-serif;
}

@media screen and (max-width: 1125px) {
  .search-results {
    flex-direction: column;
  }

  .search {
    position: static;
  }
}