.hero {
  background-image: url("../../assets/booking-hero-min.jpg");
  background-size: cover;
  width: 100%;
  height: 80vh;
  position: relative;
  padding: 0 75px;
}

.hero-content {
  position: absolute;
  max-width: 430px;
  height: 126px;
  left: 760px;
  top: 120px;
  color: white;
  font-family: 'Poppins', sans-serif;
}

@media screen and (max-width: 1190px) {
  .hero-content {
    left: 660px;
  }
}

@media screen and (max-width: 2508px) {
  .hero-content {
    left: 1600px;
    max-width: 500px;
  }
}

@media screen and (max-width: 2140px) {
  .hero-content {
    left: 1400px;
    max-width: 500px;
  }
}

@media screen and (max-width: 1908px) {
  .hero-content {
    left: 1100px;
    max-width: 500px;
  }
}

@media screen and (max-width: 1628px) {
  .hero-content {
    left: 900px;
    max-width: 500px;
  }
}

@media screen and (max-width: 1380px) {
  .hero-content {
    left: 750px;
    top: 100px;
    max-width: 500px;
  }
}

@media screen and (max-width: 1130px) {
  .hero-content {
    left: 600px;
    top: 80px;
    max-width: 500px;
  }
}

@media screen and (max-width: 1008px) {
  .hero-content {
    left: 530px;
    top: 160px !important;
  }

  .hero-content h2 {
    font-size: 40px !important;
    line-height: 40px !important;
  }
}

@media screen and (max-width: 900px) {
  .hero-content {
    display: none;
  }

  .search-filters {
    width: 90% !important;
  }
}

@media screen and (max-width: 800px) {
  .search-filters {
    left: 32px !important;
  }
}

@media screen and (max-width: 650px) {
  .search-filters {
    left: 30px !important;
  }
}

@media screen and (max-width: 575px) {
  .search-filters {
    left: 28px !important;
  }
}

@media screen and (max-width: 520px) {
  .search-filters {
    left: 24px !important;
  }
}

@media screen and (max-width: 480px) {
  .search-filters {
    left: 22px !important;
  }
}

@media screen and (max-width: 390px) {
  .search-filters {
    left: 20px !important;
  }
}

@media screen and (max-width: 330px) {
  .search-filters {
    left: 17px !important;
  }
}

.hero-content h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 45px;
  margin-bottom: 15px;
}

.hero-content p {
  font-weight: lighter;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.95);
  line-height: 20px;
}

.search-filters {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 80px;
  padding: 0 40px;
  background-color: #F9F8F7;
  width: 88%;
  max-width: 1220px;
  margin: auto;
  position: absolute;
  bottom: -50px;
}

@media screen and (min-width: 1380px) {
  .search-filters {
    width: 100%;
    max-width: 90%;
  }

  .content {
    width: 100%;
    max-width: 85%;
  }
}

@media screen and (max-width: 1180px) {
  .search-filter-item {
    max-width: 70%;
  }

  .search-filters {
    flex-direction: column;
    align-items: stretch;
    bottom: 200px;
    left: 40px;
    padding: 50px 0px;
    width: 50%;
    gap: 10px;
    background-color: transparent;
  }

  .search-filter-item {
    background-color: white !important;
    max-width: 100%;
  }

  .search-button {
    width: 100% !important;
  }

  .hero-content {
    left: 650px;
    top: 180px;
  }

  .hero {
    height: 60vh;
  }

  .guest-profile-container {
    top: 300px !important;
    left: 10px !important;
  }

  .date {
    top: 300px !important;
    left: 10px !important;
  }
}

@media screen and (max-width: 1130px) {
  .hero-content {
    left: 630px;
    top: 170px;
  }
}

@media screen and (max-width: 1070px) {
  .hero-content {
    left: 600px;
    top: 170px;
  }
}

.search-filter-item {
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 10px;
  background-color: transparent;
  border: 1px solid #8D965E;
  justify-content: center;
  color: #292929;
}

.search-filter-item > input {
  border: none;
  outline: none;
  background-color: transparent;
}

.input-size {
  flex: 0 1 30%;
  border-left: 2px solid #8D965E;
}

.check {
  flex: 0 1 25%;
  cursor: pointer;
}

.adult {
  flex: 0 1 25%;
  cursor: pointer;
}

.search-button {
  flex: 0 1 20%;
  border: 1px solid #8d965e;
  outline: none;
}

.search-filters > button {
  padding: 15px;
  width: 150px;
  cursor: pointer;
  background-color: #8D965E;
  color: white;
}

.date {
  position: absolute;
  bottom: -375px;
  left: 400px;
  box-shadow: 1px 1px 15px 5px rgba(0,0,0,0.07);
  -webkit-box-shadow: 1px 1px 15px 5px rgba(0,0,0,0.07);
  -moz-box-shadow: 1px 1px 15px 5px rgba(0,0,0,0.07);
  z-index: 50;
}

.guest-profile-container {
  position: absolute;
  top: 450px;
  left: 670px;
  width: 300px;
  background-color: #ffff;
  border: 1px solid #ffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
  border-radius: 6px;
  box-shadow: 1px 1px 15px 5px rgba(0,0,0,0.07);
  -webkit-box-shadow: 1px 1px 15px 5px rgba(0,0,0,0.07);
  -moz-box-shadow: 1px 1px 15px 5px rgba(0,0,0,0.07);
  z-index: 50;
}