.content {
  display: flex;
  justify-content: space-around;
  gap: 15px;
  align-items: center;
  padding: 150px 50px;
  max-width: 1220px;
  width: 100%;
  margin: auto;
  flex-wrap: wrap;
}

@media screen and (max-width: 1180px) {
  .content {
    padding-top: 250px;
  }
}

@media screen and (max-width: 900px) {
  .content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 30px;
  }
}