.guest-property-image {
  object-fit: cover;
  background-repeat: no-repeat;
  height: 200px;
  cursor: pointer;
  overflow: hidden;
}

.guest-property {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}

.guest-property-info > span {
  font-weight: 300;
  font-size: 14px;
}

.guest-property-info > h3 {
  font-size: 16px;
}