body {
  font-family: 'Cabin', 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F9F8F7;
  overflow: scroll;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}